/* Import the Lexend font if not already imported */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --backgroundColor: #000000;
  --buttonColor: #892CDC;
  --navbarColor: #892CDC;
  --divColor: #192645;
  --buttonHoverColor: #52057B;
}

body {
  margin: 0;
  background-color: var(--backgroundColor);
  font-family: "Lexend Deca", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  background-color: var(--backgroundColor);
  font-family: "Lexend Deca", sans-serif;
}