/* Import the Lexend font if not already imported */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F8FBFE;
}

code {
  font-family: "Lexend Deca", sans-serif;
  background-color: #F8FBFE;
}